<app-categoria-title></app-categoria-title>

<div id="page-content">

  <div class="row">
	   <div class="col-sm-6">
        <div class="panel">

            <div class="panel-heading">
              <h3 class="panel-title">Despesas</h3>
            </div>

      	    <!--Data Table-->
      	    <!--===================================================-->
      	    <div class="panel-body">
      	        <div class="pad-btm form-inline">
      	            <div class="row">
                      <div class="col-sm-7 table-toolbar-left">
                          <div class="form-group" style="width:100%">
                              <input id="demo-input-search2" style="width:100%" type="text" placeholder="Pesquisar" class="form-control" autocomplete="off">
                          </div>

                      </div>
                        <div class="col-sm-5 table-toolbar-right">
      	                    <button id="demo-btn-addrow" class="btn btn-primary" title="Adicionar Categoria de Despesa"><i class="demo-pli-add"></i></button>
      	                </div>
      	            </div>
      	        </div>
      	        <div class="table-responsive">
      	            <table class="table table-striped">
      	                <thead>
      	                    <tr>
      	                        <th class="text-center" width="80%">Descrição</th>
      	                        <th></th>
      	                    </tr>
      	                </thead>
      	                <tbody>
      	                    <tr>
      	                        <td>Alimentação</td>
      	                        <td>-</td>
                                <td>-</td>
                                <td>-</td>
      	                    </tr>
                            <tr>
                                <td>Transportes</td>
      	                        <td>-</td>
      	                        <td>-</td>
                                <td>-</td>
      	                    </tr>
      	                </tbody>
      	            </table>
      	        </div>
      	    </div>
      	    <!--===================================================-->
      	    <!--End Data Table-->
          </div>
        </div>


        <!-- ----------------------- -->

        <!-- RECEITAS -->

        <div class="col-sm-6">
           <div class="panel">

               <div class="panel-heading">
                 <h3 class="panel-title">Receitas</h3>
               </div>

         	    <!--Data Table-->
         	    <!--===================================================-->
         	    <div class="panel-body">
         	        <div class="pad-btm form-inline">
         	            <div class="row">
                         <div class="col-sm-7 table-toolbar-left">
                             <div class="form-group" style="width:100%">
                                 <input id="demo-input-search2" style="width:100%" type="text" placeholder="Pesquisar" class="form-control" autocomplete="off">
                             </div>

                         </div>
                           <div class="col-sm-5 table-toolbar-right">
         	                    <button id="demo-btn-addrow" class="btn btn-primary" title="Adicionar Categoria de Receita"><i class="demo-pli-add"></i></button>
         	                </div>
         	            </div>
         	        </div>
         	        <div class="table-responsive">
         	            <table class="table table-striped">
         	                <thead>
         	                    <tr>
         	                        <th class="text-center" width="80%">Descrição</th>
         	                        <th></th>
         	                    </tr>
         	                </thead>
         	                <tbody>
         	                    <tr>
         	                        <td>Alimentação uyguiyg iuyg iuyg iuy giuyg iyu g</td>
         	                        <td>-</td>
                                   <td>-</td>
                                   <td>-</td>
         	                    </tr>
                               <tr>
                                   <td>Transportes</td>
         	                        <td>-</td>
         	                        <td>-</td>
                                   <td>-</td>
         	                    </tr>
         	                </tbody>
         	            </table>
         	        </div>
         	    </div>
         	    <!--===================================================-->
         	    <!--End Data Table-->
             </div>
           </div>












  	</div>

</div>
