<app-conta-title></app-conta-title>

<div id="page-content">
  <div class="row">
	 
	<div class="eq-height" *ngFor="let conta of lista">
		<div class="col-sm-4 eq-box-sm" *ngFor="let sub of conta.listaConta">

			<div class="panel panel-bordered-primary" style="border-radius: 20px; background-color: #f5f5f5;" *ngIf="sub.fgControle == 'S'">
				<div class="panel-heading">
					<h3 class="panel-title" style="text-align: right;">											
						<i class="fa fa-edit" (click)="abrirModalAlterar(sub.idConta)" style="cursor: pointer;" title="Alterar dados do cartão"></i>
						&nbsp;
						<i class="ion-close-round" (click)="inativar(sub.idConta)" style="cursor: pointer;" title="Inativar cartão"></i>
					</h3>
				</div>
				<div class="panel-body" style="text-align: center;">
					<h3 class="panel-title"><b>{{sub.dsConta}}</b></h3>
					<p>Saldo: {{sub.strVlSaldo}}</p>
					
				</div>
				<div class="panel-footer" style="border-radius: 20px; text-align: right; background: #f5f5f5;">
					<img src="../../../../assets/img/favorito1.png" (click)="setarPrincipal(sub.idConta);" style="height: 18px; width: 18px; cursor: pointer;" *ngIf="sub.fgPrincipal == false" title="Marcar este cartão como principal"/>
					<img src="../../../../assets/img/favorito-atv.png" style="height: 18px; width: 18px;" *ngIf="sub.fgPrincipal == true" title="Este é seu cartão principal"/>
				</div>
			</div>


			<div class="panel panel-bordered-primary" style="background: #e0e0e0; border-radius: 20px; cursor: pointer;" (click)="abrirModalInserir()" *ngIf="sub.fgControle == 'A'">
				<div class="panel-heading">
					<h3 class="panel-title"></h3>
				</div>
				<div class="panel-body" style="text-align: center;">
					<i class="ion-plus-round" style="font-size: 30px"></i>
				</div>
				<div class="panel-footer" style="text-align: center; background: #e0e0e0; border-radius: 20px; cursor: pointer;">Adicionar nova conta</div>
			</div>

			<div class="col-sm-4 eq-box-sm" *ngIf="sub.fgControle == 'N'">
				<div class="panel" style="background: transparent;">
					<a href="#" id="demo-editable-dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1"  data-title="Select Date of birth"></a>           
				</div>
			</div>

		</div>

	</div>
	<br/><br/>
	<div class="row" style="text-align:center;" *ngIf="lista.length>0">
		<button class="btn btn-primary btn-rounded" (click)="abrirModalInativos()">Contas Inativas</button>
	</div>
	<br/><br/>
	<div class="alert alert-info">
		<strong>Atenção!</strong> Tenha sempre uma conta marcada como principal. Assim, 
				ao cadastrar suas despesas, o sistema sempre pré-selecionará
				este campo automáticamente. <br/>Para selecionar sua conta principal, 
				clique na estrela referente a conta desejada.
		
	</div>
  </div>
</div>

