<div class="panel panel-trans" style="margin-bottom: 1px !important;">
					    <div class="panel-body demo-nifty-modal" style="padding: 1px !important;">

					        <!--Static Examplel-->
					        <div class="modal">
					            <div class="modal-dialog" style="margin: 1px !important;">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h4 class="modal-title">Sucesso!</h4>
					                    </div>

					                    <div class="modal-body">
					                        <p align="justify">Muito beeem!!! Seu cadastro foi realizado com sucesso. Enviamos um e-mail de confirmação para que sua conta seja liberada e você possa desfrutar dos nossos serviços.</p>
                                  <p align="justify">Confirme o link no seu e-mail e comece a usar o ControlMe em qualquer dispositivo a qualquer momento. </p>
					                    </div>

					                    <div class="modal-footer">
					                        <button class="btn btn-primary" (click)="confirmar()" type="button">OK</button>
					                    </div>
					                </div>
					            </div>
					        </div>

					    </div>
					</div>
