<app-transferencia-title></app-transferencia-title>

<form #form="ngForm" class="form-horizontal" novalidate>
<div id="page-content">

    <div class="panel">
    
        <!--Data Table-->
        <!--===================================================-->
        <div class="panel-body">
            <div class="pad-btm form-inline">
                <div class="row">
                    <div class="col-sm-6 table-toolbar-left">
                        <button id="demo-btn-addrow" (click)="abrirModalInserir()" class="btn btn-primary"><i class="demo-pli-add"></i> Nova Transferência</button>
                        
                    </div>
                    <div class="col-sm-6 table-toolbar-right">
                            <div class="form-group">
                                <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                                [(ngModel)]="periodo" (dateRangeChanged)="selecionarPeriodoFiltro($event)"></my-date-range-picker>
                            </div>
                        <div class="form-group">
                            <select [(ngModel)]="tpTransferencia" name="tpTransferencia" class="form-control" style="width: 200px;">
                                <option value='N'>Transferências</option>
                                <option Value='F'>Transferências fixas</option>
                            </select>
                        </div>
                        
                    </div>
               
                </div>
            </div>

            <!-- Transferencias -->
            <div class="table-responsive" *ngIf="tpTransferencia == 'N'">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Conta de Origem (-)</th>
                            <th>Conta de Destino (+)</th>
                            <th width="15%">Valor</th>
                            <th width="15%">Data</th>
                            <th width="4%"></th>
                            <th width="4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transferencia of lista">
                            <td>{{transferencia.contaOrigem.dsConta}}</td>
                            <td>{{transferencia.contaDestino.dsConta}}</td>
                            <td>R$ {{transferencia.strVlTransferencia}}</td>
                            <td><i class="demo-pli-calendar-4"></i> {{transferencia.dtTransferencia | date: 'dd/MM/yyyy'}}</td>
                            <td><i class="fa fa-edit" (click)="abrirModalAlterar(transferencia.idTransferencia)" style="font-size: 16px; cursor: pointer; vertical-align: bottom;" title="Editar"></i></td>
                            <td><i class="fa fa-remove" (click)="excluirDefinitivamente(transferencia.idTransferencia)" style="font-size: 18px; cursor: pointer;" title="Excluir definitivamente"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Transferencias Fixas -->
            <div class="table-responsive" *ngIf="tpTransferencia == 'F'">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Conta de Origem (-)</th>
                            <th>Conta de Destino (+)</th>
                            <th width="15%">Valor</th>
                            <th width="10%">Dia</th>
                            <th width="12%">Tipo</th>
                            <th width="4%"></th>
                            <th width="4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transferencia of listaFixa">
                            <td>{{transferencia.contaOrigem.dsConta}}</td>
                            <td>{{transferencia.contaDestino.dsConta}}</td>
                            <td>R$ {{transferencia.strVlTransferencia}}</td>
                            <td>{{transferencia.nrDia }}</td>
                            <td><b>Transf. Fixa</b></td>
                            <td><i class="fa fa-edit" (click)="abrirModalAlterarFixa(transferencia.idTransferencia)" style="font-size: 16px; cursor: pointer; vertical-align: bottom;" title="Editar"></i></td>
                            <td><i class="fa fa-remove" (click)="inativarFixa(transferencia.idTransferencia)" style="font-size: 18px; cursor: pointer;" title="Inativar transferencia fixa"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>
        <!--===================================================-->
        <!--End Data Table-->
    
    </div>

</div>
</form>