<form #form="ngForm" class="form-horizontal" novalidate>
    <div class="panel panel-trans">
        <div class="panel-body demo-nifty-modal">

            <!--Static Examplel-->
            <div class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" (click)="fechar()"><i class="pci-cross pci-circle"></i></button>
                            <h4 class="modal-title">
                                <span *ngIf="objeto.idDespesaFixa == null">Cadastrar</span> 
                                <span *ngIf="objeto.idDespesaFixa != null">Alterar</span> 
                                Despesa Fixa</h4>
                        </div>

                        <div class="modal-body">                         
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Descrição <span style="color: #dc0808">*</span> </label>
                                    <input type="text" autocomplete="off" [(ngModel)]="objeto.dsDespesaFixa" name="dsDespesaFixa" class="form-control" 
                                           id="inputDsDespesaFixa" placeholder="Informe a descrição da despesa fixa" #dsDespesaFixa="ngModel" required>   
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Categoria <span style="color: #dc0808">*</span> </label>
                                    <select class="form-control selectpicker" (change)="atualizarSubcategoria()" [(ngModel)]="objeto.idCategoria" name="idCategoria" #idCategoria="ngModel" required>
                                        <option value="0">- Selecione a Categoria -</option>
                                        <option *ngFor="let categoria of listaCategoria" [ngValue]="categoria.idCategoria">{{categoria.dsCategoria}}</option>
                                    </select>
                                </div>
                                
                                <div class="col-sm-6">
                                    <label class="control-label">Subcategoria</label>
                                    <select class="form-control selectpicker" [(ngModel)]="objeto.idSubcategoria" name="idSubcategoria" #idSubcategoria="ngModel" required>
                                        <option value="0">- Selecione a Subcategoria -</option>
                                        <option *ngFor="let subcategoria of listaSubcategoria" [ngValue]="subcategoria.idSubcategoria">{{subcategoria.dsSubcategoria}}</option>
                                    </select>
                                </div>
                            </div>

                            
                            <div class="row">
                                <div class="col-sm-6">                                
                                    <label class="control-label">Valor Base<span style="color: #dc0808">*</span></label>                                    
                                    <input type="text" autocomplete="off"
                                          [(ngModel)]="objeto.vlDespesa"
                                        name="vlDespesa"
                                        class="form-control"
                                        id="inputVlDespesa"
                                        placeholder="R$ 00,00"
                                        #vlDespesa="ngModel"
                                        currencyMask
                                        maxlength="14"
                                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                                        required/>  
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Dia do Vencimento <span style="color: #dc0808">*</span></label>
                                    <input type="text" autocomplete="off" soNumero [(ngModel)]="objeto.nrDiaVencimento" name="nrDiaVencimento" class="form-control"  
                                           id="inputNrDiaVencimento" placeholder="Entre 1 e 31" #nrDiaVencimento="ngModel" maxlength="2" required *ngIf="objeto.idDespesaFixa == null"/> 
                                    <input type="text" [(ngModel)]="objeto.nrDiaVencimento" name="nrDiaVencimento" class="form-control"  
                                           id="inputNrDiaVencimento" *ngIf="objeto.idDespesaFixa != null" readonly/> 
                                </div>
                            </div>

                            <div class="row">
                                
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-12">
                                        <label class="control-label">Observação</label>
                                        <textarea rows="3" class="form-control" [(ngModel)]="objeto.dsObservacao" name="dsObservacao" #dsObservacao="ngModel" maxlength="200" placeholder="Escreva alguma observação adicional." ></textarea>
                                
                                </div>                            
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                        <label class="control-label" style="font-size: 11px">Obs: Todos os campos com <span style="color: #dc0808">*</span> são obrigatórios</label>                                        
                                </div>                            
                            </div>
                                
                        </div>
                        
                        <div class="panel-footer text-right">
                            <button class="btn btn-default" (click)="fechar()" data-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-primary" (click)="inserir()" type="button" *ngIf="objeto.idDespesaFixa == null" [disabled]="!form.valid">Cadastrar</button>
                            <button class="btn btn-primary" (click)="alterar()" type="button" *ngIf="objeto.idDespesaFixa != null" [disabled]="!form.valid">Alterar</button>
                        </div>
                                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

