<div id="container" class="cls-container">

		<!-- HEADER -->
		<!--===================================================-->
		<div class="cls-header">
		    <div class="cls-brand">
		        <a class="box-inline" href="index.html">
		            <!--<img alt="Nifty Admin" src="img/logo.png" class="brand-icon">-->
		            <span class="brand-title">ControlMe</span>
		        </a>
		    </div>
		</div>

		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
		    <h1 class="error-code text-info">404</h1>
		    <p class="h4 text-uppercase text-bold">Página não encontrada!</p>
		    <div class="pad-btm">
            Desculpe, mas a página que você está procurando não foi encontrada em nosso servidor.
		    </div>
		    <div class="row mar-ver">

		    </div>
		    <hr class="new-section-sm bord-no">
		    <div class="pad-top"><a class="btn btn-primary" href="/">Voltar para Home</a></div>
		</div>


    </div>
