<app-receita-agendamento-title></app-receita-agendamento-title>

<form #form="ngForm" class="form-horizontal" novalidate>
<div id="page-content">

    <div class="panel">
    
        <!--Data Table-->
        <!--===================================================-->
        <div class="panel-body">
            <div class="pad-btm form-inline">
                <div class="row">
                    <div class="col-sm-6 table-toolbar-left">
                        <button id="`mo-btn-addrow" (click)="abrirModalInserir()" class="btn btn-primary"><i class="demo-pli-add"></i> Novo Agendamento</button>
                    </div>
                    <div class="col-sm-6 table-toolbar-right">
                        <div class="form-group">
                            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions"
                            [(ngModel)]="periodo" (dateRangeChanged)="selecionarPeriodoFiltro($event)"></my-date-range-picker>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Receitas -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th width="15%">Valor</th>
                            <th width="15%">Nº Parcelas</th>
                            <th width="15%">Data</th>
                            <th width="4%"></th>
                            <th width="4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let agendamento of lista">
                            <td>
                                {{agendamento.categoria.dsCategoria}}
                                <span *ngIf="agendamento.subcategoria != null"> - {{agendamento.subcategoria.dsSubcategoria}}</span>
                            </td>                            
                            <td>{{agendamento.vlReceitaAgh | moeda}}</td>
                            <td>{{agendamento.nrParcelas}}</td>
                            <td><i class="demo-pli-calendar-4"></i> {{agendamento.dtInicio | date: 'dd/MM/yyyy'}}</td>
                            <td><i class="fa fa-edit" (click)="abrirModalAlterar(agendamento.idReceitaAgh)" style="font-size: 16px; cursor: pointer; vertical-align: bottom;" title="Editar"></i></td>
                            <td><i class="fa fa-remove" (click)="inativar(agendamento.idReceitaAgh)" style="font-size: 18px; cursor: pointer;" title="Inativar"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

           
        </div>
        <!--===================================================-->
        <!--End Data Table-->
    
    </div>

</div>
</form>