/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~ngx-toastr/toastr.css';


.mat-dialog-container {
    padding: 1px !important;
}

.cdk-overlay-container {
    z-index: 10000;
}

.spinner {
    z-index: 10001 !important;
    background: #0006 !important;
}

.mat-calendar-body-selected {
    background-color: #0b448a;
    color: #fff;
}

.over {
    background: #FBF8EF !important;
}

.mat-radio-outer-circle {
    
    border-color: #25476a !important;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.07);
    content: '';
    display: block;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    transition: all 0.3s;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #25476a;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.07);
    border-radius: 50%;
    box-sizing: border-box;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform ease 280ms,background-color ease 280ms;
    width: 20px;
}
