<!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">


                    <!--OPTIONAL : ADD YOUR LOGO TO THE NAVIGATION-->
                    <!--It will only appear on small screen devices.-->
                    <!--================================
                    <div class="mainnav-brand">
                        <a href="index.html" class="brand">
                            <img src="img/logo.png" alt="Nifty Logo" class="brand-icon">
                            <span class="brand-text">Nifty</span>
                        </a>
                        <a href="#" class="mainnav-toggle"><i class="pci-cross pci-circle icon-lg"></i></a>
                    </div>
                    -->

                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">

                                <!--Profile Widget-->
                                <!--================================-->
                                <div id="mainnav-profile" class="mainnav-profile">
                                    <div class="profile-wrap text-center">
                                        <div class="pad-btm">
                                            <img class="img-circle img-md" src="assets/img/profile-photos/1.png" alt="Profile Picture">
                                        </div>
                                        <a href="#profile-nav" class="box-block" data-toggle="collapse" aria-expanded="false">
                                            <p class="mnp-name">{{nomeFormatado}}</p>
                                            <span class="mnp-desc">{{email}}</span>
                                        </a>
                                    </div>
                                </div>

                                <ul id="mainnav-menu" class="list-group">

                                  <li>
                                      <a [routerLink]="['/']">
                                          <i class="pli-home"></i>
                                          <span class="menu-title">Home</span>
                                      </a>
                                  </li>

                                  <li routerLinkActive="active-sub active">
                                        <a [routerLink]="['/categoria-list']">
                                            <i class="pli-numbering-list"></i>
                                            <span class="menu-title">Categorias</span>
                                        </a>
                                  </li>

                                  <li routerLinkActive="active-sub active">
                                    <a [routerLink]="['/cartao-list']">
                                        <i class="demo-pli-credit-card-2"></i>
                                        <span class="menu-title">Cartões</span>
                                    </a>
                                  </li>
                                       
                                  <li routerLinkActive="active-sub active">
                                    <a [routerLink]="['/conta-list']">
                                        <i class="ti-money"></i>
                                        <span class="menu-title">Contas</span>
                                    </a>
                                  </li>

                                  <li routerLinkActive="active-sub active">
                                    <a [routerLink]="['/transferencia']">
                                        <i class="fa fa-refresh"></i>
                                        <span class="menu-title">Transfências</span>
                                    </a>
                                 </li>
                                  
                                  <li routerLinkActive="active-sub active">
                                        <a href="helper-classes.html">
                                            <i class="pli-financial"></i>
                                            <span class="menu-title">Receitas</span>
                                        </a>
                                  </li>

                                  <li routerLinkActive="active-sub active">
                                    <a href="#">
                                        <i class="pli-dollar"></i>
                                        <span class="menu-title">Despesas</span>
                                        <i class="arrow"></i>
                                    </a>
                    
                                    <!--Submenu-->
                                    <ul class="collapse">
                                        <li routerLinkActive="active-link"><a [routerLink]="['/despesa']">Nova</a></li>
                                        <li routerLinkActive="active-link"><a [routerLink]="['/despesa-cartao']">Cartão</a></li>
                                        <li routerLinkActive="active-link"><a [routerLink]="['/despesa-agendamento']">Agendar</a></li>
                                        <li routerLinkActive="active-link"><a [routerLink]="['/despesa-fixa']">Fixas</a></li>
                                    </ul>
                                </li>

                                  <li class="list-divider"></li>

                                  <li routerLinkActive="active-sub active">
                                      <a href="helper-classes.html">
                                          <i class="pli-happy"></i>
                                          <span class="menu-title">Avaliações</span>
                                      </a>
                                  </li>

                                  <li routerLinkActive="active-sub active">
                                      <a href="helper-classes.html">
                                          <i class="demo-pli-speech-bubble-5"></i>
                                          <span class="menu-title">Contate-nos</span>
                                      </a>
                                  </li>

                                  <li class="list-divider"></li>
                                </ul>


                                <!--Widget-->
                                <!--================================-->
                                <div class="mainnav-widget">

                                  <div class="show-small">
                                      <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                                          <i class="demo-pli-monitor-2"></i>
                                      </a>
                                  </div>

                                    <!-- Hide the content on collapsed navigation -->
                                    <div id="demo-wg-server" class="hide-small mainnav-widget-content">
                                        <ul class="list-group">
                                            <li class="list-header pad-no mar-ver">Status da conta</li>
                                            <li class="mar-btm">
                                                <span class="label label-primary pull-right">15%</span>
                                                <p>CPU Usage</p>
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar progress-bar-primary" style="width: 15%;">
                                                        <span class="sr-only">15%</span>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="pad-ver"><a href="#" style="width: 100%" class="btn btn-success btn-bock">Adquira seu plano VIP</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!--================================-->
                                <!--End widget-->

                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->

                </div>
            </nav>
            <!--===================================================-->
            <!--END MAIN NAVIGATION-->
